<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Page load animation -->
    <div class="loader-back" id="loader">
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="left">
                    <li><a class="nav-link" href="#home">Home</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#projects">Projects</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                    <li>
                        <a href="https://github.com/DominiAetheres">
                            <img src="{{ url_for('static', filename='images/github-mark.svg') }}" style="height:1em;">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <div class="copy">
            Copyright © 2024 Yifeng Dai. All rights reserved.
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}
</body>
</html>