{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card-container">

    <!-- Fixed info div for picture -->
    <div id="img-info" class="img-info">
        
    </div>

    <div id="home" class="card">
        <div class="container">
            <div class="intro">
                <h1>Ethan Dai</h1>
                <p>Machine Learning</p>
                <p>Photography</p>
                <p>Piano</p>
            </div>
            <div class="cname">
                戴逸风
            </div>
        </div>
    </div>

    <div id="about" class="card">
        <div class="info">
            <h1>About</h1>
            <div class="entry">
                Currently studying Artificial Intelligence at the University of Western Australia.
                Passionate about computing technology in all forms, hardware and software.
            </div>
            <div class="entry">
                Aspiring amateur photographer and pianist. I've recently been bitten by the Baroque bug.
            </div>
        </div>
    </div>

    <div id="projects" class="card">
        <div class="info">
            <h1>Projects</h1>
            <div class="entry">
                LSTM-based models for aspect-embedded sentiment analysis <br> Abstract
            </div>
            <div class="desc">
                Aspect-based sentiment analysis can be used to extract the sentiment of a particular aspect from a subject of 
                some sample text such as the quality of food at a restaurant. What makes this task difficult is the potential 
                multipolarity of sentiments contained within a given sample text related to different aspects. 
                Basic LSTM networks fail to capture this nuance within input strings as the hidden states and final output remains 
                constant for any given sentence. Therefore, it has no ability to make representations about aspects within the network. 
                This paper will introduce and test three aspect-embedded LSTM networks: an attentionless aspect-embedded model, an 
                aspect-embedded model with attention, and a Seq2seq style model. The two models that contained attention were the most 
                accurate but displayed some uninterpretable encoding in the attention mechanism.
            </div>
        </div>
    </div>
</div>

<div id="contact" class="image-container">
    <div id="image-div" class="image">
        <img id="image" src="">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='landing.js') }}"></script>
{% endblock %}