{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card-container">

    <!-- Fixed info div for picture -->
    <div id="img-info" class="img-info">
        
    </div>

    <div id="home" class="card">
        <div class="container">
            <div class="intro">
                <h1>Ethan Dai</h1>
                <p>Machine Learning</p>
                <p>Photography</p>
                <p>Piano</p>
            </div>
            <div class="cname">
                戴逸风
            </div>
        </div>
    </div>

    <div id="about" class="card">
        <div class="info">
            <h1>About</h1>
            <div class="entry">
                Currently studying Artificial Intelligence at the University of Western Australia.
                Passionate about computing technology in all forms, hardware and software.
            </div>
            <div class="entry">
                Aspiring amateur photographer and pianist. I've recently been bitten by the Baroque bug.
            </div>
        </div>
    </div>

    <div id="projects" class="card">
        <div class="info">
            <h1>Projects</h1>
            <div class="entry">
                LSTM-based models for aspect-embedded sentiment analysis <br> Abstract
            </div>
            <div class="desc">
                Aspect-based sentiment analysis can be used to extract the sentiment of a particular aspect from a subject of 
                some sample text such as the quality of food at a restaurant. What makes this task difficult is the potential 
                multipolarity of sentiments contained within a given sample text related to different aspects. 
                Basic LSTM networks fail to capture this nuance within input strings as the hidden states and final output remains 
                constant for any given sentence. Therefore, it has no ability to make representations about aspects within the network. 
                This paper will introduce and test three aspect-embedded LSTM networks: an attentionless aspect-embedded model, an 
                aspect-embedded model with attention, and a Seq2seq style model. The two models that contained attention were the most 
                accurate but displayed some uninterpretable encoding in the attention mechanism.
                <br>
                <a href="https://github.com/DominiAetheres/lstm-models-for-sentiment-analysis" style="color: #602626;">Link</a>
            </div>
            <div class="entry">
                Soil Database Explorer
            </div>
            <div class="desc">
                This application is a visualiser and database manageer for soil samples. It allows the upload and retreival of test data 
                from excel files and plots it in the various graphs on the dashboard of the app. This was completed as part of the 
                Professional Computing unit at UWA and was developed according to the specifications agreed upon by my team's client
                Prof. Cristina Vulpe. It was mainly developed in Python using the Plotly Dash framework to visualise the graphs, and packaged
                into a desktop application using node.js Electron.
                <br>
                <a href="https://github.com/CurryduckwithEC/CITS3200-Laboratory-Testing-Database" style="color: #602626;">Link</a>
            </div>
        </div>
    </div>

    <div id="contact" class="card">
        <div class="info">
            <h1>Contact</h1>
            <div class="entry">
                Email
            </div>
            <div class="contact">
                yifengdai888@gmail.com
            </div>
            <div class="entry">
                LinkedIn <a href="https://www.linkedin.com/in/ethan-dai/">Link</a>
            </div>
            <div class="user">
                Yifeng (Ethan) Dai
            </div>
            <div class="entry">
                GitHub <a href="https://github.com/DominiAetheres">Link</a>
            </div>
            <div class="user">
                DominiAetheres
            </div>
        </div>
    </div>
</div>

<div id="images" class="image-container">
    <div id="image-div" class="image">
        <img id="image" src="">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='landing.js') }}"></script>
{% endblock %}